<form action="/addUser" method="POST" id="cadastroUsuario">
  <h2>Cadastrar cliente</h2>  
  <div>
    <p>CPF:</p>
    <input type="number" name='cpf'></input></br>
    <button type="submit">Cadastrar</button>
    </div>
</form>