<form action="/addMoto" method="POST">
    <p>CPF:</p>
        <input type="number" name='cpf'></input>
    <p>Quantidade de viagens:</p>
        <input type="text" name='qt_viagens'></input>
    <p>Taxa de aceitações:</p>
        <input type="text" name='taxa_aceitacao'></input>        
    <p>Taxa de rejeições:</p>
        <input type="text" name='taxa_rejeicao'></input>
    <button type="submit">Confirmar</button>
</form>