<style>
body{
  background:black;
}
#cadastroUsuario{
  display:block;
  background:white;
  width:300px;
  background:Lightgray;
  position: absolute;
  top:50%;
  left: 50%;
  border-radius: 10px 20px;
  transform: translateY(-50%) translateX(-50%)
}
#cadastroUsuario > h2{
 text-align:center;
}
div{
   text-align:center;
}
p{
   text-align:left;
   margin-left:62px;
   padding:0;
  margin-bottom:0;
}
button{
  margin-top:15px;
  margin-bottom:15px;
 }
</style>
<form action="/addUser" method="POST" id="cadastroUsuario">
  <h2>Cadastrar usuario</h2>  
  <div>
  <p>CPF:</p>
        <input type="number" name='cpf'></input>
    <p>Primeiro nome:</p>
        <input type="text" name='p_nome'></input>
    <p>Segundo nome:</p>
        <input type="text" name='s_nome'></input>        
    <p>E-mail:</p>
        <input type="text" name='email'></input>
    <p>Avaliação:</p>
<input type="number" name='avaliacao' step="0.1"></input></br>
    <button type="submit">Cadastrar</button>
</div>
</form>
