<form action="/addUser" method="POST">
    <p>CPF:</p>
        <input type="number" name='cpf'></input>
    <p>Primeiro nome:</p>
        <input type="text" name='p_nome'></input>
    <p>Segundo nome:</p>
        <input type="text" name='s_nome'></input>        
    <p>E-mail:</p>
        <input type="text" name='email'></input>
    <p>Avaliação:</p>
        <input type="number" name='avaliacao' step="0.1"></input>
    <button type="submit">Confirmar</button>
</form>
        