<div class="cadastro">
    <a href="/cadUser"><button>Cadastrar Usuario</button></a>
    <a href="/cadClient"><button>Cadastrar Cliente</button></a>
    <a href="/cadMoto"><button>Cadastrar Motorista</button></a>
</div>