<style>
body{
        background-color: black;
    }
div{
        background: white;
        position: absolute;
        display: block;
        width: 300px;
        transform: translateY(-50%) translateX(-50%);
        top:50%;
        left:50%;
        border-radius: 10px 20px;
        background: Lightgray;
}
a{
    text-decoration: none;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>

<div class="cadastro">
    <a href="/cadUser"><button>Cadastrar Usuario</button></a><br>
    <a href="/cadClient"><button>Cadastrar Cliente</button></a><br>
    <a href="/cadMoto"><button>Cadastrar Motorista</button></a>
</div>