<style>
body{
        background-color: black;
    }
div{
        background: white;
        position: absolute;
        display: block;
        width: 300px;
        transform: translateY(-50%) translateX(-50%);
        top:50%;
        left:50%;
        border-radius: 10px 20px;
        background: Lightgray;
}
a{
    text-decoration: none;
    margin:5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
</style>

<div>
    <a href="/cadastrar"><button> Cadastrar usuário</button></a><br/>
    <a href="/busca"><button> Realizar busca</button></a><br/>
    <a href="/cadViagems"><button> Realizar viagem</button></a>
</div>
